			body{ font-family: 'Roboto', sans-serif; background-color: #111111;}
    		#container { margin: 0 auto; width: 1024px; font-family: font-family: 'Roboto', Roboto-Light;
   src: url(Roboto-Light.woff);}
            header { background-color: #050505; color: white; text-align: center; border-radius: 5px 5px 0px 0px;}
            aside { background-color: #111111; border: 1px solid #111111;  margin: 0 auto; border-radius: 5px 5px 5px 5px;}
			nav { background-color: #111111; border: 1px solid #111111; margin: 0 auto; border-radius: 5px 5px 5px 5px;}
			article { background-color: #191919; border: 1px solid #191919; padding: 4px; border-radius: 5px 5px 0px 0px;}
    		footer { background-color: #050505; color: white; text-align: center; border-radius: 0px 0px 5px 5px;}
a.dcan {
    background-color: #111111;
    color: orange;
    padding: 4px 25px;
	border-radius: 5px 5px 5px 5px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}

a.pulsantimenu{
	background-color: #191919;
    color: #ffffff;
}

a:hover, a:active {
    background-color: #111111;
}

a.serietvt {
    background-image: url("serie/thewalking.jpg");
    color: white;
    padding: 10px 32px;
	border-radius: 5px 5px 5px 5px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;

}

a.serietvl {
    background-image: url("serie/lacasa.jpg");
    color: white;
    padding: 10px 32px;
	border-radius: 5px 5px 5px 5px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;

}

a.serietvs {
    background-image: url("serie/scream.jpg");
    color: white;
    padding: 10px 32px;
	border-radius: 5px 5px 5px 5px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
	background-color: #1c1c1c;
	text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1c1c1c;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\232A';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body {
    text-align: center; 
    h1,p,a {font-family: 'Roboto', sans-serif; font-weight: 300; margin:0; text-decoration: none; }
    h1,a, h1 .material-icons{ color: #white; }
    a:hover{background:#white;color:white;}
    padding:24px;
    > i { border-top:1px solid lightgray; padding-top:24px; }
}

#copyright {
	color: white;

}
#menubuttonback {
	color: white;
	background-color: #1C1C1C;

}

#roundedpic {
	border-radius: 50%;

}

#normalpic {
	border-radius: 10%;
	
}

#sfondo_paragrafo {
	color: white;
    padding: 125px;
    background: url(swimming.jpg);
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#font-face {
   font-family: myFirstFont;
   src: url(Roboto-Light.woff);
}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: 10px auto;
    padding: 16px;
    background: #2d2d2d;
}
.form-style-6 h1{
    background: #191919;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #orange;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #191919;
    padding: 3%;
    border: 1px solid #191919;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #191919;
    border-bottom: 2px solid #111111;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #212121;
}

ul {
    list-style-type: none;
    margin: o auto;
    padding: 10px 75px;
    overflow: hidden;
	text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

