
@font-face {
    font-family: 'product_sans_blackregular';
    src: url('../fonts/webfontkit/productsans-black-webfont.woff2') format('woff2'),
         url('productsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'product_sans_blackregular', 'Arial';
    background-color: #111111;
}

#container {
    margin: 0 auto;
    width: 1024px;
    font-family: 'product_sans_blackregular';
}
/*
#container {
    margin: 0 auto;
    width: 1024px;
    font-family: 'Roboto', 'Roboto-Light';
    src: url(Roboto-Light.woff);
}
*/

/*
.container_on_image {
    position: relative;
    font-family: Arial;
}
*/

/*UTILE*/
.text-block{
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/*UTILE*/
.text-block h1{

    font-size: 180%;
}

/*UTILE*/
.text-block p{
    font-size: 120%;
}

/*UTILE*/
#footer_writings{
    margin: 0 auto;
    width: 1024px;
    font-family: 'Roboto', 'Roboto-Light';
    src: url(Roboto-Light.woff);
    font-size: 85%;
}

header {
    background-color: #050505;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

aside {
    background-color: #111111;
    border: 1px solid #111111;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
}

nav {
    background-color: #111111;
    border: 1px solid #111111;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
}

article {
    background-color: #191919;
    border: 1px solid #191919;
    padding: 4px;
    border-radius: 5px 5px 0px 0px;
}

footer {
    background-color: #050505;
    color: white;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
}

a.dcan {
    background-color: #111111;
    color: orange;
    padding: 4px 25px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.pulsantimenu {
    background-color: #191919;
    color: #ffffff;
}

a:hover, a:active {
    background-color: #111111;
}

a#serietvt {
    background-image: url("serie/thewalking.jpg");
    color: white;
    padding: 10px 32px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a#serietvl {
    background-image: url("serie/lacasa.jpg");
    color: white;
    padding: 10px 32px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a#serietvs {
    background-image: url("serie/scream.jpg");
    color: white;
    padding: 10px 32px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #1c1c1c;
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1c1c1c;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\232A';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#copyright {
    color: white;
}

#menubuttonback {
    color: white;
    background-color: #1C1C1C;
}

#roundedpic {
    border-radius: 50%;
}

#normalpic {
    border-radius: 10%;
}

#home_background_banner {
    color: white;
    padding: 125px;
    width: 100;
    height: 400px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
}
/*
#font-face {
    font-family: myFirstFont;
    src: url(Roboto-Light.woff);
}
*/
.form-style-6 {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: 10px auto;
    padding: 16px;
    background: #2d2d2d;
}

.form-style-6 h1 {
    background: #191919;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="text"], .form-style-6 input[type="date"], .form-style-6 input[type="datetime"], .form-style-6 input[type="email"], .form-style-6 input[type="number"], .form-style-6 input[type="search"], .form-style-6 input[type="time"], .form-style-6 input[type="url"], .form-style-6 textarea, .form-style-6 select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #orange;
    font: 95% Arial, Helvetica, sans-serif;
}



.form-style-6 input[type="submit"], .form-style-6 input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #191919;
    border-bottom: 2px solid #111111;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form-style-6 input[type="submit"]:hover, .form-style-6 input[type="button"]:hover {
    background: #212121;
}

ul {
    list-style-type: none;
    margin: o auto;
    padding: 10px 75px;
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

#sample {border:1px dotted #666666;}
#sample h2 {text-align:center;}
#sample p {text-align:center;padding:.4em 3em 0em;color:#000000;}
#my-form {box-sizing:border-box;margin:0 auto;padding-left:6em;text-align:left;width:70%;color:#009966;}
#my-form label {color:#000000;}
#my-form .data-entry {padding:.5em 8%;}
#my-form textarea {padding:.1em 8%;}
#my-form p {text-align:left;margin:0;padding:1em 0 .1em;}
#my-form select {margin-bottom:1em;font-size:95%;padding:.1em .5em;}
#my-form .button {width:80px;height:30px;font-size:110%;margin:.4em;}
#my-form .radio {white-space:nowrap;display:inline-block;line-height:2em;margin:.1em 0;}
#my-form input[type=radio]{margin-right:.6em;}
/* resize table for mobile */
@media all and (min-width: 10px) and (max-width:660px) {
#sample {font-size:90%;border:1px solid #666;width:99%;text-align:center;margin:auto !important;}
#sample p {margin:0;padding:0 .2em;}
#my-form {box-sizing:border-box;width:96%;margin:0;padding:1em 1.5em 1em 3.5em;text-align:left !important;}
#my-form p {margin:0;padding:0 .2em;}
#my-form .radio {white-space:nowrap;display:inline-block;line-height:1em;margin-top:.2em;}
}